/*-- scss:defaults --*/

// colors
$body-bg: #ffffff;
$body-color: #000000;
$link-color: #FA2D48;
$input-bg: #ffffff;
$popover-bg: #ffffff;

// fonts
$font-family: 'Roboto';

// code blocks
$btn-code-copy-color-active: #FA2D48;

// navbar
$navbar-bg: #ffffff;